* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6%;
}
.main {
  background-color: #ff0000;
  height: 12%;
  width: 80%;
}
.top_div {
  display: flex;
}
.top_top_div {
  flex-grow: 2;
}
.top_middle_div {
  flex-grow: 2;
  background-color: #2d72ba;
}
.top_bottom_div {
  flex-grow: 2;
}
.middle_div {
  display: flex;
}
.middle_top_div {
  flex-grow: 4;
}
.middle_middle_div {
  flex-grow: 1;
  background-color: #2d72ba;
}
.middle_bottom_div {
  flex-grow: 4;
}
.bottom_div {
  display: flex;
}
.bottom_top_div {
  flex-grow: 16;
}
.bottom_middle_div {
  flex-grow: 1;
  background-color: #2d72ba;
}
.bottom_bottom_div {
  flex-grow: 16;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
